<header class="navbar navbar-expand navbar-light bg-light bg-gradient border-bottom no-print">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}"><img src="NavBar2.gif" alt="home icon" style="width: 30px; height: 30px; vertical-align: middle; margin-right: 5px;">
      {{ site.data.bio.basics.name }}</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}"><img src="/NavBar3.gif" alt="resume icon" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
Resume</a>
        <!--<a class="nav-link" href="{{ '/projects.html' | prepend: site.baseurl }}">Essays</a>
        <a class="nav-link" href="{{ '/essays.html' | prepend: site.baseurl }}">Projects</a>-->

      </ul>
    </div>
  </div>
</header>
