<header class="navbar navbar-expand navbar-light bg-light bg-gradient border-bottom no-print">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}"><img src="NavBar2.gif" alt="home icon" style="width: 50px; height: 50px; vertical-align: middle; margin-right: 5px;">
      {{ site.data.bio.basics.name }}</a>

    <!-- GIFs section - displays fun GIFs in line -->
    <div class="gif-container d-flex justify-content-center align-items-center ms-3">
      <img src="/assets/images/gif1.gif" alt="fun gif 1" class="nav-gif">
      <img src="/assets/images/gif2.gif" alt="fun gif 2" class="nav-gif">
      <img src="/assets/images/gif3.gif" alt="fun gif 3" class="nav-gif">
      <img src="/assets/images/gif4.gif" alt="fun gif 4" class="nav-gif">
      <!-- Add more GIFs as needed -->
    </div>
    
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}"><img src="/NavBar3.gif" alt="resume icon" style="width: 50px; height: 50px; vertical-align: middle; margin-right: 5px;">
Resume</a>
        <!--<a class="nav-link" href="{{ '/projects.html' | prepend: site.baseurl }}">Essays</a>
        <a class="nav-link" href="{{ '/essays.html' | prepend: site.baseurl }}">Projects</a>-->

      </ul>
    </div>
  </div>
</header>
