  <!--<a href="{{ include.url }}" target="_blank">
  <svg class="tf-social">
    <use xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#{{- include.name -}}"/>
  </svg>
  <span>{{ include.label }}</span>
</a> -->
<a href="{{ include.url }}" target="_blank">
  <!-- Conditional logic to select the appropriate GIF based on the name -->
  {% if include.name == 'house' %}
    <img src="home.gif" alt="Website" style="width: 30px; height: 30px;">
  {% elsif include.name == 'envelope' %}
    <img src="email.gif" alt="Email" style="width: 30px; height: 30px;">
  {% elsif include.name == 'github' %}
    <img src="github.gif" alt="GitHub" style="width: 30px; height: 30px;">
  {% elsif include.name == 'linkedin' %}
    <img src="/assets/images/linkedin.gif" alt="LinkedIn" style="width: 30px; height: 30px;">
  {% else %}
    <img src="/assets/images/default-icon.gif" alt="{{ include.name }}" style="width: 30px; height: 30px;">
  {% endif %}
  
  <!-- Optional: Add a label if needed -->
  <span>{{ include.label }}</span>
</a>
