  <!--<a href="{{ include.url }}" target="_blank">
  <svg class="tf-social">
    <use xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#{{- include.name -}}"/>
  </svg>
  <span>{{ include.label }}</span>
</a> -->
<a href="{{ include.url }}" target="_blank">
  <!-- Conditional logic to select the appropriate GIF based on the name -->
  {% if include.name == 'house' %}
    <img src="home.gif" title="Website"  class="social-icon" style="width: 50px; height: 50px;">
  {% elsif include.name == 'envelope' %}
    <img src="email.gif" title="Email"  class="social-icon" style="width: 50px; height: 50px;">
  {% elsif include.name == 'github' %}
    <img src="github.gif" title="GitHub"  class="social-icon" style="width: 50px; height: 50px;">
  {% elsif include.name == 'linkedin' %}
    <img src="gif5.gif" title="LinkedIn"  class="social-icon" style="width: 65px; height: 65px;">
  {% else %}
    <img src="/assets/images/default-icon.gif" alt="{{ include.name }}" style="width: 50px; height: v;">
  {% endif %}
  <span class="social-label">{{ include.label }}</span>
</a>
